{% load staticfiles %}
{% load djmoney %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>
        
        {% block title_block %}
            
        {% endblock title_block %}
            
    </title>
    <meta name="description" content="        
        {% block descr_block %}
            
        {% endblock descr_block %}            
    ">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/main.css' %}" /> 
</head>
<body>
    <div id="navbar">
        <button>
            menu
        </button>
        <div class="logo">

        </div>
    </div>
    {% block body_block %}
        
    {% endblock body_block %}
    <div id="footer">
        
    </div>
    <script src="{% static 'js/main.js' %}"></script> 
       
</body>
</html>