{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    Jemmy's Collection
{% endblock title_block %}
    

{% block descr_block %}
    Jemmy's Collection
{% endblock descr_block %}
    
{% block header_block %}
<meta property="og:url"           content="{{ request.META.HTTP_HOST }}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="Jemmy's Collection" />
<meta property="og:description"   content="Jemmy's Collection" />
<meta property="og:image"         content="{% static 'images/icons/apple-icon-180x180.png' %}" />
{% endblock header_block %}

{% block body_block %}
    <div class="products">
        
        {% for product in products %}
            <div class="product">
                <div class="prod-photo">
                    
                    {% if product.photos %}
                    
                    {% if product.photos|length > 1 %}
                        {% for i in product.photos %}
                            <img src="{{ i.photo.url }}" alt="{{ product.details.name }}'s photo" 
                            {% if forloop.last %}
                                class="d-none"
                            {% endif %}
                                >
                        {% endfor %}
                    {% else %}
                        {% for i in product.photos %}
                            <img src="{{ i.photo.url }}" alt="{{ product.details.name }}'s photo">
                        {% endfor %}                        
                    {% endif %}
                        

                    {% else %}
                        <!--No image image-->
                    {% endif %}
                        
                
                </div>
                <div class="prod-details">
                    <p class="title">{{ product.details.name }}</p>
                    <p>{{ product.details.price }}</p>
                    <a class="act-themed" href="{% url 'view-product' product.details.slug %}">VIEW</a> 
                </div>
            </div>
        {% endfor %}
            
    </div>
{% endblock body_block %}
    