{% extends 'base.html' %}
{% load staticfiles %}

{% block title_block %}
    View your Order Status | Jemmy's Collection
{% endblock title_block %}
    

{% block descr_block %}
    View your order details. Enter the order number to continue.
{% endblock descr_block %}
  
{% block header_block %}
<meta property="og:url"           content="https://{{ request.META.HTTP_HOST }}{{ request.path }}" />
<meta property="og:type"          content="website" />
<meta property="og:title"         content="View your Order | Jemmy's Collection" />
<meta property="og:description"   content="Enter your order ID to view the order details." />
<meta property="og:image"         content="{% static 'images/logo.png' %}" />
{% endblock header_block %}

{% block body_block %}
    <div class="flex flex-xy-center" style="margin: 0 5%; min-height: 23em;">
        <form method="post">
            <div class="d-block mb-1">
                <label for="ordersearchfield" class="mb-d5 d-i-block">Enter your order ID</label>
                <input type="search" name="ordersearch" id="ordersearchfield" required>
                {% if not_found %}
                    <small style="color:#dc3545;">An order with the given order ID was not found. Please make sure you entered it correctly.</small>
                {% endif %}
            </div>
            <div class="d-block mb-1">
                {% csrf_token %}
                <input type="submit" value="VIEW STATUS" class="act-themed p-d5">
            </div>
        </form>
    </div>
{% endblock body_block %}
    