{% extends "base.html" %}

{% block title_block %}
  Shipping Policy | Jemmy's Collection
{% endblock title_block %}

{% block body_block %}
  <div style="margin: 0 5%;">
      <h1 style="font-weight:800;">Our Shipping Policy</h1>
      <!--
          - Shipping Time?
          - Shipping Locations
          - Order Tracking
      -->
      <p>We offer a flat rate shipping of <b>Ksh.200.00</b> to residents of Nairobi, Kenya. If you want your items to be delivered other locations, we will contact you with options available to have the goods shipped to yourloacation.</p>
      <p>Orders that are to be shipped to clients within Nairobi will usually be delivered in 2 days.</p>
  </div>
{% endblock body_block %}