{% extends "base_mgrs.html" %}
{% load staticfiles %}

{% block title_block %}
    Add a New Product | Jemmy's Collection
{% endblock title_block %}

{% block body_block %}
  <div style="margin: 0 5%;">
    <div id="new_product" class="card">
        <h3 class="m-0">Add a New Product</h3>
        <hr>
        <form method="post" enctype="multipart/form-data">
            <div id="upload_images" class="mb-1">
                <div class="flex flex-xy-center"  target="images_field" onclick="clickInput(event)">
                    <img src="{% static 'images/camera.svg' %}" alt="Add images" target="images_field" style="height:5em;">
                    <p class="text-centered m-0">Click here to add images for this Product</p>
                </div>
                <div class="images p-1 d-none">

                </div>
                <input type="file" name="images" id="images_field" accept="image/*" onchange="fillImages(this)" multiple>
            </div>
            {% if form.non_field_errors %}
                <small class="">{{ form.non_field_errors.as_text }} </small>
            {% endif %}
            <div class="d-block mb-1">
                <label for="name_field" class="d-block">Name</label>
                <input type="text" name="name" id="name_field" maxlength="50" required>
            </div>
            <div class="d-block mb-1">
                <label for="descr_field" class="d-block">Description</label>
                <textarea name="description" id="descr_field" cols="30" rows="10" maxlength="1500"></textarea>
            </div>
            <div class="grid">
                <div class="d-block mb-1">
                    <label for="price_field" class="d-block">Price</label>
                    <input type="number" name="price_0" value="0.0" id="price_field" required>
                    <input type="hidden" name="price_1" value="KES">
                </div>
                <div class="d-block mb-1">
                    <label for="category_field" class="d-block">Category</label>
                    <select name="category" id="category_field" style="width:100%;">
                        <option value="" selected>Select a Category</option>
                        {% for category in categories %}
                          <option value="{{ category.id }}">{{ category.category }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="d-block mb-1">
                <label for="quantity_field" class="d-block">Quantity</label>
                <input type="number" name="quantity" id="quantity_field" min="0" value="0" required>
            </div>
            <div class="d-block mb-1">
                <label for="variant_field" class="d-block">Variant Information</label>
                <input type="text" name="variant_info" id="variant_field" maxlength="50" placeholder="What's unique about this product?">
            </div>
            {% csrf_token %} 
            <input type="submit" class="act-themed" value="ADD PRODUCT">
        </form>
    </div>
  </div>
{% endblock body_block %}

{% block script_block %}
  <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
  <script>
    function fillImages(input) {
        if (input.files && input.files.length > 0) {
            document.querySelector("#upload_images>.flex").classList.add("d-none");
            document.querySelector("#upload_images>.images").classList.remove("d-none");
            document.querySelector("#upload_images>.images").innerHTML = "";
            for (const image in input.files) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    var image = document.createElement("img");
                    image.classList.add("upload-image");
                    image.setAttribute("src", e.target.result);
                    document.querySelector("#upload_images>.images").appendChild(image);
                }
                reader.readAsDataURL(input.files[image]);
            }
        } else {
            document.querySelector("#upload_images>.flex").classList.remove("d-none");
            document.querySelector("#upload_images>.images").classList.add("d-none");
        }
    }
    
    tinyMCE.init({
        selector: "#descr_field",
        menubar: "edit view format",
    })
  </script>
{% endblock script_block %}