{% extends "base_mgrs.html" %}

{% block title_block %}
    Orders | Jemmy's collection
{% endblock title_block %}
    

{% block body_block %}
    <div class="mb-1" style="margin: 0 5%; overflow-x: auto;">
        <div class="flex" style="justify-content:left;">
            <a href="{% url 'managers:dashboard' %}" class="flex" style="align-items:center;">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                    y="0px" viewBox="0 0 477.175 477.175" style="height: 1.25rem;" xml:space="preserve">
                    <g>
                        <path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                                    c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z" />
                    </g>
                </svg>
                Dashboard
            </a> 
        </div>
        <div class="grid order-list-item">
            <span class="bold" style="grid-area:id">Order</span>
            <span class="bold text-centered" style="grid-area:date">Date</span>
            <span class="bold text-centered customer" style="grid-area:customer">Customer</span>
            <span class="bold text-centered" style="grid-area:status">Status</span>
            <span class="bold text-centered" style="grid-area:total">Total</span>
        </div>
        <hr>
        <div class="order-list">
            {% for order in orders %}
              <div class="grid order-list-item">
                  <a href="{% url 'managers:view-order' order.order_id %}" style="grid-area:id"># {{ order.order_id }}</a> 
                  <span class="text-centered" style="grid-area:date">{{ order.created|date }}</span>
                  <a href="{% url 'managers:customer' order.buyer.id %}" class="text-centered customer" style="grid-area:customer">{{ order.buyer.name }}</a>
                  
                  {% if order.status == 'F' %}
                    <span class="text-centered st-s bold" style="grid-area:status">Fulfilled</span>
                  {% else %}
                    {% if order.status == 'P' %}
                        <span class="text-centered st-p bold" style="grid-area:status">Pending</span>
                    {% else %}
                        <span class="text-centered st-c bold" style="grid-area:status">Cancelled</span>
                    {% endif %}
                  {% endif %}
                      
                  <span class="text-centered" style="grid-area:total">{{ order.total }}</span>
              </div>
            {% empty %}
              <p class="mb-0">There are no orders.</p>
            {% endfor %}
        </div>
    </div>
{% endblock body_block %}
    