{% extends "base_mgrs.html" %}
{% load staticfiles %}

{% block title_block %}
    {{ product.name }} | Jemmy's Collection
{% endblock title_block %}

{% block float_top_block %}
<div id="update-product" class="flex flex-xy-center dismissed">
    <div class="card" style="background:#fff; overflow: auto; max-height: 80vh;">
        <div class="flex" style="justify-content:space-between;">
            <h4 class="m-0">Update product</h4>
            <button id="dismiss-update-prod" target="update-product">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                    y="0px" viewBox="0 0 47.971 47.971" style="height:1.35em" xml:space="preserve">
                    <g>
                        <path d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88
                                                            c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242
                                                            C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879
                                                            s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z" />
                    </g>
                </svg>
            </button>
        </div>
        <hr>
        
        <form method="post" action="{% url 'managers:update-product' product.slug %}" enctype="multipart/form-data" style="padding-bottom:1em;"> 
        {% if product.variant_of %}
            <div class="d-block mb-1">
                <label for="name_field" class="d-block">Name</label>
                <input type="text" name="name" id="name_field" value="{{ product.name }}" maxlength="50" required>
            </div>
            <div class="d-block mb-1">
                <label for="quantity_field" class="d-block">Quantity</label>
                <input type="number" name="quantity" id="quantity_field" min="0" value="{{ product.quantity }}" required>
            </div>
            <div class="d-block mb-1">
                <label for="variant_of_field" class="d-block">Variant Of</label>
                <select name="variant_of" id="variant_of_field" style="width:100%;">
                    {% for variant_of_product in variant_of_products %}
                        {% if variant_of_product == product.variant_of %}
                            <option value="{{ variant_of_product.id }}" selected>{{ variant_of_product.name }}</option>
                        {% else %}
                            <option value="{{ variant_of_product.id }}">{{ variant_of_product.name }}</option>
                        {% endif %}
                        
                    {% endfor %}
                </select>
            </div>
            <div class="d-block mb-1">
                <label for="variant_field" class="d-block">Variant Information</label>
                <input type="text" name="variant_info" id="variant_field" maxlength="50" {% if product.variant_info %}
                value="{{ product.variant_info }}"
                {% endif %} placeholder="What's unique about this product?">
            </div>
            <input type="hidden" name="price_0" value="{{ product.price|floatformat }}">
            <input type="hidden" name="price_1" value="KES">
            <input type="hidden" name="category" value="{{ product.category.id }}">
            {% csrf_token %} 
            <input type="submit" class="act-themed" value="CHANGE">
        {% else %}
            <div class="d-block mb-1">
                <label for="name_field" class="d-block">Name</label>
                <input type="text" name="name" id="name_field" value="{{ product.name }}" maxlength="50" required>
            </div>
            <div class="d-block mb-1">
                <label for="descr_field" class="d-block">Description</label>
                <textarea name="description" id="descr_field" cols="30" rows="10" maxlength="1500">
                    {{ product.description|safe }}
                </textarea>
            </div>
            <div class="grid">
                <div class="d-block mb-1">
                    <label for="price_field" class="d-block">Price</label>
                    <input type="number" name="price_0" value="{{ product.price|floatformat }}" id="price_field" required>
                    <input type="hidden" name="price_1" value="KES">
                </div>
                <div class="d-block mb-1">
                    <label for="category_field" class="d-block">Category</label>
                    <select name="category" id="category_field" style="width:100%;">
                        {% for category in categories %}
                            {% if category == product.category %}
                                <option value="{{ category.id }}" selected>{{ category.category }}</option>
                            {% else %}
                                <option value="{{ category.id }}">{{ category.category }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="d-block mb-1">
                <label for="quantity_field" class="d-block">Quantity</label>
                <input type="number" name="quantity" id="quantity_field" min="0" value="{{ product.quantity }}" required>
            </div>
            <div class="d-block mb-1">
                <label for="variant_field" class="d-block">Variant Information</label>
                <input type="text" name="variant_info" id="variant_field" maxlength="50" {% if product.variant_info %}
                value="{{ product.variant_info }}"
                {% endif %} placeholder="What's unique about this product?">
            </div>
            {% csrf_token %} 
            <input type="submit" class="act-themed" value="CHANGE">
            
        {% endif %}
        </form>
            
    </div>
</div>
{% endblock float_top_block %}

{% block body_block %}

<div style="margin: 0 5%;">
    <div class="flex mb-1" style="justify-content:left;">
        <a href="{% url 'managers:products' %}" class="flex" style="align-items:center;">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                y="0px" viewBox="0 0 477.175 477.175" style="height: 1.25rem;" xml:space="preserve">
                <g>
                    <path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                                c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z" />
                </g>
            </svg>
            All Products
        </a> 
    </div>
    <div id="product">
        {% if product.variant_of %}
        <div class="flex" style="justify-content:left;">
            <a href="{% url 'managers:product' product.variant_of.slug %}"> 
                <button class="act-themed">GO BACK</button>
            </a>
        </div>
        {% endif %}
        <h1 class="m-0">{{ product.name }}</h1>

        <div class="grid">
            <div id="images" class="flex">
                {% for image in product.images.all %}
                  <div class="image">
                      <img src="{{ image.photo.url }}" alt="{{ product.name }}'s image {{ forloop.counter }}">
                  </div>
                {% empty %}
                    <div class="flex flex-xy-center" target="product_images" onclick="clickInput(event)">
                        <img src="{% static 'images/camera.svg' %}" alt="Add images" target="product_images" style="height:5em;">
                        <p class="text-centered m-0">This product has no images. Click here to add images for this Product</p>
                    </div>
                    <div class="images p-1 d-none">
                    
                    </div>
                    <input type="file" name="images" id="product_images" accept="image/*" onchange="fillImages(this)" multiple>
                {% endfor %}
            </div>
            <div id="details">
                
                {% if product.description %}                        
                    <h4 class="m-0">Description</h4>
                    <p class="mt-d5">{{ product.description|safe }}</p>
                {% endif %}

                <h4 class="m-0">Quantity</h4>
                <p class="mt-d5">{{ product.quantity }}</p>

                <h4 class="m-0">Price</h4>
                <p class="mt-d5">{{ product.price }}</p>
                
                {% if product.variant_of %}
                    <h4 class="m-0">Variant Of</h4>
                    <a href="{% url 'managers:product' product.variant_of.slug %}"><p class="mt-d5">{{ product.variant_of.name }}</p></a>
                {% endif %}
                    

                {% if product.variant_info %}
                    <h4 class="m-0">Variant Information</h4>
                    <p class="mt-d5">{{ product.variant_info }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <button class="act-themed mb-1" id="show-update-prod" target="update-product">CHANGE DETAILS</button>
    
    {% if product.variant_of == None %}
        <div id="variants">
            <h3>Variants</h3>
            <hr>
            <div class="card product-list">
                {% for variant in product.variants.all %}
                <div class="grid product-list-item">
                    <img src="{{ variant.images.all.0.photo.url }}" style="width: 5em;" alt="{{ variant.name }}'s image">
                    <div class="product-details">
                    <span class="m-0">{{ variant.name }}</span>
                    <table>
                        <tbody>
                            <tr>
                                <td>QTY: <span class="bold">{{ variant.quantity }}</span></td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                    <div class="link flex">
                        <a href="{% url 'managers:product' variant.slug %}"> 
                            <button class="act-themed">VIEW</button>
                        </a>
                    </div>
                </div>
                
                {% if forloop.last %}
                <div class="flex" style="justify-content:right;">
                    <button id="show-add-var" class="act-themed" target="add-variant">ADD VARIANT</button>
                </div>
                {% endif %}
                    
                {% empty %}
                    <p class="text-centered">This product has no variants. <a id="show-add-var" target="add-variant" style="cursor:pointer;">Click here</a> to add one</p>
                {% endfor %}
            </div>
                
        </div>
    {% endif %}
        
</div>

{% if messages %}
    {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <div class="text-centered p-d5 st-s message bold">
            {{ message }}
        </div>
        {% endif %}
    {% endfor %}
{% endif %}

{% endblock body_block %}

{% block float_bottom_block %}
<div id="add-variant" class="flex flex-xy-center dismissed">
    <div class="card" style="background:#fff; overflow: auto; max-height: 80vh;">
        <div class="flex" style="justify-content:space-between;">
                <h4 class="m-0">Add a variant</h4>
                <button id="dismiss-add-var" target="add-variant">
                    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                        y="0px" viewBox="0 0 47.971 47.971" style="height:1.35em" xml:space="preserve">
                        <g>
                            <path d="M28.228,23.986L47.092,5.122c1.172-1.171,1.172-3.071,0-4.242c-1.172-1.172-3.07-1.172-4.242,0L23.986,19.744L5.121,0.88
                                                                c-1.172-1.172-3.07-1.172-4.242,0c-1.172,1.171-1.172,3.071,0,4.242l18.865,18.864L0.879,42.85c-1.172,1.171-1.172,3.071,0,4.242
                                                                C1.465,47.677,2.233,47.97,3,47.97s1.535-0.293,2.121-0.879l18.865-18.864L42.85,47.091c0.586,0.586,1.354,0.879,2.121,0.879
                                                                s1.535-0.293,2.121-0.879c1.172-1.171,1.172-3.071,0-4.242L28.228,23.986z" />
                        </g>
                    </svg>
                </button>
            </div>
            <hr>
            <form method="post" enctype="multipart/form-data" action="{% url 'managers:new-variant' %}"> 
                <div id="upload_images" class="mb-1">
                    <div class="flex flex-xy-center" target="variant_images" onclick="clickInput(event);">
                        <img src="{% static 'images/camera.svg' %}" alt="Add images" target="variant_images" style="height:5em;">
                        <p class="text-centered m-0">Click here to add images for this Product</p>
                    </div>
                    <div class="images p-1 d-none">
    
                    </div>
                    <input type="file" name="images" id="variant_images" accept="image/*" onchange="fillImages(this)" multiple>
                </div>
                <div class="d-block mb-1">
                    <label for="name_field" class="d-block">Name</label>
                    <input type="text" name="name" id="name_field" maxlength="50" required>
                </div>
                <div class="d-block mb-1">
                    <label for="quantity_field" class="d-block">Quantity</label>
                    <input type="number" name="quantity" id="quantity_field" min="0" value="0" required>
                </div>
                <div class="d-block mb-1">
                    <label for="variant_field" class="d-block">Variant Information</label>
                    <input type="text" name="variant_info" id="variant_field" maxlength="50" placeholder="What's unique about this product?">
                </div>
                <input type="hidden" name="variant_of" value="{{ product.id }}">
                <input type="hidden" name="action" value="add">
                {% csrf_token %} 
                <input type="submit" class="act-themed" value="ADD VARIANT">
            </form>
    </div>
</div>
{% endblock float_bottom_block %}

{% block script_block %}
<script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
<script>
    function fillImages(input) {
        if (input.files && input.files.length > 0) {
            document.querySelector("#upload_images>.flex").classList.add("d-none");
            document.querySelector("#upload_images>.images").classList.remove("d-none");
            document.querySelector("#upload_images>.images").innerHTML = "";
            for (const image in input.files) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    var image = document.createElement("img");
                    image.classList.add("upload-image");
                    image.setAttribute("src", e.target.result);
                    document.querySelector("#upload_images>.images").appendChild(image);
                }
                reader.readAsDataURL(input.files[image]);
            }
        } else {
            document.querySelector("#upload_images>.flex").classList.remove("d-none");
            document.querySelector("#upload_images>.images").classList.add("d-none");
        }
    }
    document.querySelector("#show-update-prod").addEventListener("click", toggleSide);
    document.querySelector("#dismiss-update-prod").addEventListener("click", toggleSide);
    var addVariant = document.querySelector("#show-add-var");
    if (addVariant) {
        addVariant.addEventListener("click", toggleSide);
    }
    document.querySelector("#dismiss-add-var").addEventListener("click", toggleSide);
    tinyMCE.init({
        selector: "#descr_field",
        menubar: "edit view format",
    });
    setTimeout(function() {
        var messages = document.querySelectorAll(".message");
        messages.forEach(function(message){
            message.remove();
        });
    }, 3000);
</script>
{% endblock script_block %}
    