{% extends "base_mgrs.html" %}

{% block title_block %}
    Products | Jemmy's Collection
{% endblock title_block %}
    
{% block body_block %}
<div style="margin: 0 5%;">
    <div class="flex mb-1" style="justify-content:left;">
        <a href="{% url 'managers:dashboard' %}" class="flex" style="align-items:center;">
            <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                y="0px" viewBox="0 0 477.175 477.175" style="height: 1.25rem;" xml:space="preserve">
                <g>
                    <path d="M145.188,238.575l215.5-215.5c5.3-5.3,5.3-13.8,0-19.1s-13.8-5.3-19.1,0l-225.1,225.1c-5.3,5.3-5.3,13.8,0,19.1l225.1,225
                                c2.6,2.6,6.1,4,9.5,4s6.9-1.3,9.5-4c5.3-5.3,5.3-13.8,0-19.1L145.188,238.575z" />
                </g>
            </svg>
            Dashboard
        </a> 
    </div>
    <div class="flex top">
        <h2 class="m-0 title">Products</h2> 
        <a href="{% url 'managers:new-product' %}"><button class="act-themed" style="padding: 0.25em 1em;">NEW PRODUCT</button></a>
    </div>
    <hr>
    <div class="card product-list">
        {% for product in products %}
          <div class="grid product-list-item">
            <img src="{{ product.images.all.0.photo.url }}" style="width:5em;" alt="{{ product.name }}'s image">
            <div class="product-details">
                <span class="m-0">{{ product.name }}</span>
                <table>
                    <tbody>
                        <tr>
                            <td>QTY: <span class="bold">{{ product.quantity }}</span></td>
                            <td>Price: <span class="bold">{{ product.price }}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="link flex">
                <a href="{% url 'managers:product' product.slug %}">
                    <button class="act-themed">VIEW</button>
                </a>
            </div>
          </div>
        {% endfor %}
    </div>
</div>
{% endblock body_block %}
    