@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,600,800");

:root {
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

#show-nav,
#show-cart {
  align-items: center;
}

#navbar {
  position: fixed;
  right: 0;
  left: 0;
  background-color: #fafafa;
  box-shadow: 0 3px 10px rgb(128, 128, 128);
  z-index: 1000;
}

#navbar div {
  padding: 0.2em 5%;
}

#navbar div.logo {
  padding: 0.2em 0;
}

#navbar .nav {
  display: flex;
  justify-content: space-between;
}

#navbar .cat {
  display: none;
}

#navbar button,
#side-nav button {
  background: none;
  border: 0;
  transition: all 0.3s ease-in-out;
}

#navbar > .cat span {
  font-size: 0.7em;
  font-weight: 600;
  text-transform: uppercase;
  color: rgb(46, 46, 46);
  display: block;
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

#navbar > .cat span:hover {
  color: #14c967;
}

button:hover,
a:hover {
  fill: #14c967;
}

.cart-len {
  color: #fafafa;
  background-color: #14c967;
  font-size: 0.75em;
  padding: 0.1em;
  border-radius: 0.25em;
  height: 1em;
  width: 1em;
  text-align: center;
  align-items: center;
  transform: translate(1.15em, -0.7em);
  line-height: 1em;
  position: absolute;
}

#side-nav button {
  float: left;
  position: relative;
  margin-left: 2.5em;
  padding: 0;
}

#main {
  padding-top: 4.8em;
}

#footer {
  min-height: 18rem;
  background-color: #f4f4f4;
}

#side-nav {
  max-width: 80vw;
  width: 50rem;
  height: 100vh;
  padding-top: 4em;
  background-color: white;
}

#side-nav-bg {
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  z-index: 1200;
  transition: transform 0.4s ease-in-out, background 0.8s ease-in-out;
}

#side-nav-bg.dismissed {
  transform: translateX(-100%);
  background: none;
}

.title {
  font-weight: 600;
}

tr.total {
  font-size: 1.2em;
}

select {
  border-radius: 0.25em;
  border: 1px solid rgb(128, 128, 128);
  text-align: center;
  display: inline-block;
  min-width: 5em;
}

.products {
  display: grid;
  grid-gap: 2em;
  padding: 1em 5%;
}

.product {
  z-index: 10;
  box-shadow: 0 0 1em rgb(128, 128, 128);
  margin: auto;
  border-radius: 0.5em;
  transition: all 0.3s ease-in-out;
}

.prod-photo {
  overflow: hidden;
}

.info {
  padding: 0 5%;
  padding-bottom: 1em;
}

.order,
.card {
  min-width: 18rem;
  border-radius: 0.5em;
  box-shadow: 0 0 0.5em rgb(128, 128, 128);
  padding: 1em;
  margin: 1em auto;
  line-height: 2;
}

.order table {
  width: 100%;
  border-collapse: collapse;
}

table td.r {
  text-align: right;
}

table td.l {
  font-weight: bold;
}

.order span {
  display: inline-block;
  width: 5em;
}

.product:hover {
  box-shadow: 0 0 1.35em rgb(128, 128, 128);
}

.prod-photo img {
  width: 100%;
  border-top-left-radius: calc(0.5rem - 1px);
  border-top-right-radius: calc(0.5rem - 1px);
}

.prod-photo img {
  transition: all 0.3s ease-in-out;
}

.d-hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}

.d-block {
  display: block;
}

.d-i-block {
  display: inline-block;
}

.prod-details {
  padding: 0.5rem;
}

.prod-details .title {
  margin: 0;
  font-weight: 600;
}

.prod-details p {
  margin-top: 0.125rem;
  margin-bottom: 0.125rem;
}

form input, form textarea {
  width: 100%;
}

input, textarea  {
  border-radius: 0.25em;
  border: 1px solid rgb(128, 128, 128);
  font-family: "Montserrat";
  padding: 0.5em;
  transition: all 0.3s ease-in-out;
}

input:focus, textarea:focus {
  border: 1px solid #14c967;
  box-shadow: 0 0 0.25em #14c967;
}

button {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
}

button.act-themed {
  width: 100%;
}

.act-themed {
  text-align: center;
  background-color: #14c967;
  color: #fafafa;
  text-decoration: none;
  padding: 0.25rem;
  display: block;
  margin-top: 0.35rem;
  margin-bottom: 0.175rem;
  font-weight: 600;
  letter-spacing: 1px;
  border-radius: 0.25rem;
  transition: all 0.3s ease-in;
  border: 0;
}

.act-themed:hover {
  background-color: #00af52;
  color: #fafafa;
}

.act-themed:focus {
  box-shadow: 0 0 0.25em #14c967;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-xy-center {
  justify-content: center;
  align-content: center;
}

.grid {
  display: grid;
}

.m-0 {
  margin: 0;
}

.mb-d5 {
  margin-bottom: 0.5em;
}

.mb-1 {
  margin-bottom: 1em;
}

.p-0 {
  padding: 0;
}

.p-d5 {
  padding: 0.5em;
}

#curr-photo {
  width: 100%;
}

.for-select {
  height: 4.5em;
  width: 4.5em;
  position: relative;
}

.overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay.d-none {
  display: none !important;
}

.site {
  padding-top: 2em;
  padding-bottom: 2em;
}

hr {
  margin: 1em 0;
  color: rgb(128, 128, 128);
}

a {
  text-decoration: none;
  color: rgb(46, 46, 46);
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

a:hover {
  color: #14c967;
}

.c-themed {
  color: #14c967;
}

.c-danger {
  color: #dc3545;
}

.site a,
#side-nav a {
  margin: 0.5em;
  display: inline-block;
}

#side-nav .cat {
  padding-left: 0.5em;
}

#side-nav .cat span {
  display: block;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#side-nav .cat span:hover {
  color: #14c967;
}

.site p {
  margin: 0.5em 0;
}

.text-centered {
  text-align: center;
}

.text-right {
  text-align: right;
}

.grid.cart,
.grid.make-order,
.make-order form > .grid {
  grid-template-columns: auto;
  grid-gap: 2em;
}

.grid.make-order {
  grid-template-areas: "order-details" "shipping-details";
  grid-row-gap: 0;
  box-shadow: 0 0 0.5em rgb(128, 128, 128);
  border-radius: 0.5em;
}

.grid.make-order #order-items {
  grid-area: order-details;
  padding: 1em;
  border-bottom: 1px solid rgb(128, 128, 128);
}

.grid.make-order > div {
  box-shadow: none;
  margin: unset;
}

.grid.view-order {
  grid-template-columns: auto;
  grid-column-gap: 2em;
}

.make-order form > .grid {
  grid-column-gap: 1em;
  grid-row-gap: unset;
}

.grid.cart > div:last-child {
  grid-area: 1;
  margin: 0;
}

.grid.item {
  grid-column-gap: 2em;
  grid-row-gap: 0.5em;
  grid-template-columns: auto auto;
  padding-bottom: 0.5em;
  margin-bottom: 1em;
  border-bottom: 1px solid rgb(128, 128, 128);
}

.grid.item:last-child {
  border-bottom: none;
}

.grid.item > div:last-child {
  font-size: 1.2em;
}

.view-order table {
  padding-top: 1em;
  border-top: 1px solid rgb(128, 128, 128);
  width: 100%;
}

.make-order .grid.item, .view-order .grid.item {
  grid-template-columns: 5em auto;
}

.make-order .grid.item, .view-order .grid.item > div:last-child {
  font-size: 1em;
}

#summary p {
  font-size: 1.2em;
}

#summary div:nth-child(2n) > p {
  text-align: right;
}

#order-items .items {
  max-height: 0;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

#order-items .items.show {
  max-height: 300vh;
}

#show-items, #order-status {
  background-color: rgb(128, 128, 128);
  margin: 1em -1em;
  padding: 1em;
  display: flex;
  justify-content: center;
  color: #fafafa;
  font-weight: bold;
  cursor: pointer;
}

#order-status.success {
  background-color: #14c967;
}

#order-status.cancelled {
  background-color: #dc3545;
}

#show-items span {
  transition: all 0.3s ease-in-out;
}

#show-items span.show {
  transform: rotate(-180deg);
}

.sep {
  width: 100%;
  border-bottom: 1px solid rgb(128, 128, 128);
  margin: 0.5em 0;
}

.view-order .grid.item>:last-child {
  display: none ;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .products {
    grid-template-columns: auto auto;
  }

  .make-order form > .grid {
    grid-template-columns: 50% auto;
    grid-template-areas: "city region" "country country";
  }

  form > .grid #country {
    grid-area: country;
  }

  .view-order .grid.item {
    grid-template-columns: 5em auto 20%;
  }

  .view-order .grid.item>:last-child {
    display: block;
  }

  .view-order .grid.item>div :last-child {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .product {
    max-width: 20em;
  }

  .cart .grid.item {
    grid-template-columns: 15% auto 20%;
  }

  .cart .grid.item div:last-child {
    justify-self: right;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #show-nav {
    display: none;
  }

  #navbar .cat {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
  }

  .products {
    grid-template-columns: auto auto auto;
  }

  #main {
    padding-top: 6.2em;
    min-height: 63vh;
  }

  .grid.prod-info {
    grid-template-columns: 45% auto;
    grid-gap: 2em;
  }

  .grid.cart,
  .grid.make-order {
    grid-template-columns: auto 30%;
  }

  #show-items {
    display: none;
  }
  
  #order-items .items {
    max-height: 300vh;
  }
  .grid.make-order {
    grid-template-areas: "shipping-details order-details";
    box-shadow: none;
  }

  .grid.make-order .card {
    box-shadow: 0 0 0.5em rgb(128, 128, 128);
  }

  .grid.make-order #order-items {
    border-bottom: none;
  }

  .grid.view-order {
    grid-template-columns: auto 30%;
    
  }

  .grid.cart > div:last-child {
    align-self: start;
    grid-area: unset;
    margin: 0 auto;
    margin-top: 4em;
  }

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .images {
    flex-flow: row-reverse;
  }

  .products {
    grid-template-columns: auto auto auto auto;
  }

  .images > .flex {
    flex-flow: column;
  }
}
