nav#navbar {
  box-shadow: none;
  background: none;
}

nav#navbar .nav {
  justify-content: center;
}

.grid.dash {
  grid-template-columns: auto auto;
  gap: 2em;
}

.dash-item img {
  height: 5em;
}

.dash-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}

.dash-item:hover {
  color: #14c967;
}

#logout {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1250;
  transition: transform 0.4s ease-in-out;
}

#logout.dismissed {
  transform: translateY(-100%);
}

#dismiss-logout {
  background: none;
  border: 0;
  transition: all 0.3s ease-in-out;
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  .grid.dash {
    grid-template-columns: auto auto auto auto;
  }
}

@media (min-width: 992px) {
}

@media (min-width: 1200px) {
}
